.mylabels{
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	float: left;
	width: 75px;
}

.dropDownBox{
	width: 100%;
	float: right;
	
}

.btn-primary-mod {
color: #fff;
background-color: #2daebf;
border-color: #ffffff;
}